html,
body {
  height: 100%;
}

#kaiyuan {
  display: flex;
  flex-direction: column;
}

#kaiyuan .ky-header {
  width: 100%;
  height: 100px;
  background: #fff url(../images/01.png) no-repeat center;
  display: flex;
  justify-content: center;
}

#kaiyuan .ky-nav {
  height: 58px;
  border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#kaiyuan .ky-nav ul {
  display: flex;
  align-items: center;
}

#kaiyuan .ky-nav ul li {
  box-sizing: border-box;
  padding: 0 23px;
  display: flex;
  justify-content: space-between;
}

#kaiyuan .ky-nav ul li a {
  height: 56px;
  display: block;
  color: #505050;
  font-size: 12px;
  line-height: 56px;
}

#kaiyuan .ky-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}

#kaiyuan .ky-main .section1 {
  flex-direction: column;
  width: 50%;
}

#kaiyuan .ky-main .section1 .main-left {
  box-sizing: border-box;
  background-color: #fff;
}

#kaiyuan .ky-main .section1 .main-left img {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 340px;
  height: 216px;
}

#kaiyuan .ky-main .section1 .main-left h2 {
  margin-top: 19px;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
}

#kaiyuan .ky-main .section1 .main-left span {
  margin-top: 11px;
  display: block;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #959595;
}

#kaiyuan .ky-main .section1 .main-left p {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 0 35px;
  color: #414141;
}

#kaiyuan .ky-main .section1 .main-left .yuedu {
  width: 42px;
  height: 17px;
  font-size: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e67e22;
  color: #fff;
  margin-left: 35px;
  margin-top: 10px;
}

#kaiyuan .ky-main .section2 {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  width: 20%;
}

#kaiyuan .ky-main .section2 .main-right {
  background-color: #fff;
  box-sizing: border-box;
  padding: 11px 30px 0;
}

#kaiyuan .ky-main .section2 .main-right h3 {
  font-size: 18px;
  line-height: 28px;
  border-bottom: 1px solid #e67e22;
}

#kaiyuan .ky-main .section2 .main-right ul li {
  box-sizing: border-box;
  font-size: 12px;
  line-height: 12px;
  padding-top: 13px;
}

#kaiyuan .ky-main .section2 .main-right ul li:nth-child(n+2) {
  color: #e67e22;
}

@media all and (min-width: 0px) and (max-width: 699px) {
  #kaiyuan .ky-main .section1 {
    width: 96%;
  }
  #kaiyuan .ky-main .section2 {
    width: 96%;
  }
}

#kaiyuan .ky-footer {
  background-color: #111111;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#kaiyuan .ky-footer .footer1 {
  box-sizing: border-box;
  padding-top: 10px;
  width: 20%;
  margin-right: 30px;
  margin-bottom: 20px;
}

#kaiyuan .ky-footer h2 {
  font-size: 15px;
  line-height: 21px;
  border-bottom: 2px solid #e67e22;
  color: #fff;
}

#kaiyuan .ky-footer ul {
  margin-top: 10px;
}

#kaiyuan .ky-footer ul li {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-bottom: 1px dotted #959595;
  padding-bottom: 5px;
}

#kaiyuan .ky-footer ul li span:nth-child(1) {
  font-size: 12px;
  color: #959595;
}

#kaiyuan .ky-footer ul li span:nth-child(2) {
  font-size: 12px;
  color: #202020;
}

@media all and (min-width: 0px) and (max-width: 699px) {
  #kaiyuan .ky-footer .footer1 {
    width: 96%;
  }
}
